.form
{
    padding: 30px 0;

    background-color: #2d3651;

    &__container
    {
        display: grid;

        @include container;

        gap: $gap;
    }
}
.form-item__input
{
    font-size: 1.125rem;

    display: block;

    width: 100%;
    height: $gap * 3;
    padding-right: 30px;
    padding-left: 30px;
   

    transition: background-color .5s, border-color .5s;
    letter-spacing: .15em;
    color: #ffffff;

    border: 2px solid rgba($color-light, 0);
    border-bottom-color: rgba($color-light, .25);
    background-color: rgba($color-light, .05);
    &::placeholder
    {
        transition: background-color .5s, border-color .5s;

        color: $color-gray;
    }
    &:hover,
    &:focus
    {
        border: 2px solid $color-gray;
        border-bottom-color: rgba($color-light, 1);
        outline: 0;
        background-color: rgba($color-light, .15);
    }
}
.form-item__input:hover
{
    &::placeholder
    {
        color: $color-gray-light;
    }
}
.form .btn--primary
{
    font-family: 'Roboto';
    font-weight: 400;

    transition: background-color .5s, border-color .5s;

    color: #fff;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, .25);
    background-color: rgba($color-light, .1);

    @include md-min
    {
        min-width: 100%;
    }
    @include md-sm
    {
        min-width: 100%;
    }
    &:hover,
    &:focus
    {
        border-color: $color-light;
        outline: 0;
        background-color: $color-accent;
    }
}
.form__container
{
    @include md-min
    {
        grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm
    {
        grid-template-columns: repeat(2, 1fr);
    }
}
.form-item:nth-of-type(1)
{
    @include md-sm
    {
        grid-column: 1 / span 2;
        grid-column-start: 1;
        grid-column-end: span 2;
    }
}


