.about__container
{
    display: grid;

    @include container;


    grid-template-columns: 1fr 271px;
    gap: 100px;
    @include lg-min
    {
        grid-template-columns: 1fr 271px;
        gap: $gap * 5;
    }
    @include lg-md
    {
        grid-template-columns: 1fr 271px;
        gap: $gap * 2;
    }
    @include md-sm
    {
        grid-template-columns: 1fr 236px;
        gap: $gap;
    }
    @include sm
    {
        gap: $gap;
        grid-template-columns: 1fr;
    }
}
